/*

Experiemntal Branch CSS

*/

@font-face {
    font-family: "Santiago";
    src: url("/fonts/Santiago.otf");
}

:root {
    --primary-color: #6b1212;
    --secondary-color: #245936;
    --background-color: #ffffffe0;

    --text-color: var(--primary-color);
    --inverted-text-color: #ffffffe0;
    --border-color: #000000e0;

    color: var(--text-color);

    --black-border: 1px solid var(--text-color);

    --primary-color-10: #6b12121a;
    --primary-color-20: #6b121233;
    --primary-color-30: #6b12124d;
    --primary-color-40: #6b121266;
    --primary-color-50: #6b121280;
    --primary-color-60: #6b121299;
    --primary-color-70: #6b1212b3;
    --primary-color-80: #6b1212cc;
    --primary-color-90: #6b1212e6;

    --secondary-color-10: #2459361a;
    --secondary-color-20: #24593633;
    --secondary-color-30: #2459364d;
    --secondary-color-40: #24593666;
    --secondary-color-50: #24593680;
    --secondary-color-60: #24593699;
    --secondary-color-70: #245936b3;
    --secondary-color-80: #245936cc;
    --secondary-color-90: #245936e6;

    --black-bg-10: #0000001a;
    --black-bg-20: #00000033;
    --black-bg-30: #0000004d;
    --black-bg-40: #00000066;
    --black-bg-50: #00000080;
    --black-bg-60: #00000099;
    --black-bg-70: #000000b3;
    --black-bg-80: #000000cc;
    --black-bg-90: #000000e6;

    --white-border: 1px solid #ffffffe0;

    --white-bg-10: #ffffff1a;
    --white-bg-20: #ffffff33;
    --white-bg-30: #ffffff4d;
    --white-bg-40: #ffffff66;
    --white-bg-50: #ffffff80;
    --white-bg-60: #ffffff99;
    --white-bg-70: #ffffffb3;
    --white-bg-80: #ffffffcc;
    --white-bg-90: #ffffffe6;

    --small-gap: 0.5rem;
    --medium-gap: 1rem;
    --large-gap: 2rem;
    --xlarge-gap: 4rem;

    --small-radius: 0.5rem;
    --medium-radius: 1rem;
    --large-radius: 2rem;
    --xlarge-radius: 4rem;

    --button-text-color: var(--text-color);
    --button-bg-color: var(--white-bg-90);
    --button-padding: var(--small-gap) var(--medium-gap);

    --pill-text-color: var(--text-color);

    --card-bg-color: var(--white-bg-90);

    --icon-color: var(--text-color);

    --link-color: var(--text-color);
    --link-selected-color: var(--inverted-text-color);

    --scrollbar-thumb-color: var(--primary-color-50);
    --scrollbar-track-color: var(--primary-color-50);

    --small-font-size: 0.8rem;
    --medium-font-size: 1rem;
    --large-font-size: 1.5rem;
    --xlarge-font-size: 2rem;

    --xlight-font-weight: 100;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --medium-font-weight: 600;
    --bold-font-weight: 800;

    --special-font: "Santiago", sans-serif;
    --special-font-weight: 800;

    --main-font: sans-serif;
    --main-font-weight: var(--regular-font-weight);

    --default-transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

#__next {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100vw;
    min-height: 100vh;
    min-height: 100dvh;
}

.Pill {
    color: var(--inverted-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-gap) var(--medium-gap);
    border: 1px solid var(--inverted-text-color);
    border-radius: var(--medium-radius);
    backdrop-filter: blur(5px);
    font-size: var(--small-font-size);
}

.Dark_Pill {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-gap) var(--medium-gap);
    border: var(--black-border);
    border-radius: var(--medium-radius);
    backdrop-filter: blur(5px);
    font-size: var(--small-font-size);
}

.clickable {
    cursor: pointer;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-gap) var(--medium-gap);
    border: 1px solid var(--primary-color-60);
    border-radius: var(--medium-radius);
    cursor: pointer;
    background-color: var(--primary-color-60);
    backdrop-filter: blur(2px);
    color: var(--inverted-text-color);
    font-size: var(--medium-font-size);
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.Btn.Round {
    border-radius: 50%;
    padding: 0.25rem;
}

.Btn:focus-visible,
.Btn:hover {
    background-color: var(--primary-color-90);
    transform: scale(1.05);
    border: 1px solid var(--white-bg-90);
}

.Origin_Left {
    transform-origin: left center;
}

.Content_Viewer {
    position: relative;
}

.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: var(--black-bg-30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    z-index: 1000;
}

.Menu_Title {
    font-size: clamp(2.4rem, 3vw, 3rem);
    color: var(--inverted-text-color);
    font-family: "Santiago", sans-serif;
    text-align: center;
}

.Menu_List {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    margin-block: auto;
}

.Menu_Link {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    font-family: "Santiago", sans-serif;
    transform-origin: center;
    background-color: var(--white-bg-90);
    color: var(--text-color);
    border: 1px solid transparent;
}

.Menu_Link:focus-visible,
.Menu_Link:hover {
    transform: scale(1.05);
    background-color: var(--primary-color-90);
    color: var(--inverted-text-color);
    border: var(--white-border);
}

.Carrinho {
    z-index: 9;
}

.Carrinho_Layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--medium-gap);
    height: 100%;
    width: 100%;
    max-width: 600px;
    border-radius: var(--medium-radius);
    background-color: var(--white-bg-80);
    padding-block: var(--medium-gap);
}

.Carrinho_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--medium-gap);
    width: 100%;
    padding-inline: var(--medium-gap);
}

.Carrinho_Title {
    font-family: "Santiago", sans-serif;
    font-size: 2rem;
}

.Carrinho_Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--medium-gap);
    text-align: center;
    flex: 1;
}

.Carrinho_List {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--medium-gap);
    padding-inline: var(--medium-gap);
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
}

.Carrinho_Item {
    list-style: none;
    display: flex;
    gap: var(--medium-gap);
    background-color: var(--white-bg-50);
    border: var(--white-border);
    border-radius: var(--medium-radius);
}

.Carrinho_Item_Title {
    font-size: 1.5rem;
    font-family: "Santiago", sans-serif;
}

.Carrinho_Item_Image_Container {
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 240px;
    display: flex;
}

.Carrinho_Item_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--medium-radius);
}

.Carrinho_Item_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--small-gap);
    padding-right: var(--small-gap);
    padding-block: var(--small-gap);
    width: 100%;
    max-width: 400px;
}

.Carrinho_Item_Quantity_Container {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.Carrinho_Item_Quantity_Value {
    font-size: 2rem;
}

.Carrinho_Item_Quantity_Input_Controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddOrSubtract_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.Carrinho_Item_Btn > * {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.Carrinho_Total_Price_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.Checkout_Waring {
    margin-inline: var(--medium-gap);
    text-align: center;
}

#Pesquisa {
    justify-content: start;
}

.Search_Input_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
}

.Search_Input_Container > input {
    padding: var(--small-gap);
    padding-inline: var(--medium-gap);
    border-radius: var(--medium-radius);
    border: var(--white-border);
}

.Search_Input_Container > button {
    padding: var(--small-gap);
    border-radius: var(--medium-radius);
    border: var(--white-border);
    background-color: var(--black-bg-30);
    backdrop-filter: blur(2px);
    color: var(--inverted-text-color);
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Search_Input_Container > button:focus-visible,
.Search_Input_Container > button:hover {
    transform: scale(1.05);
    background-color: var(--white-bg-90);
    color: var(--text-color);
}

.Search_No_Results,
.Search_Results_List {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    flex: 1;
    overflow-y: auto;
}

.Search_No_Results {
    justify-content: center;
    color: var(--inverted-text-color);
}

.Search_Result {
    display: flex;
    gap: var(--medium-gap);
    background-color: var(--black-bg-50);
    border-radius: var(--medium-radius);
}

.Search_Result_Image {
    height: 100%;
    object-fit: cover;
    border-radius: var(--small-radius);
}

.Search_Result_Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--small-gap);
    padding-right: var(--medium-gap);
    padding-block: var(--medium-gap);
    width: 100%;
    max-width: 400px;
    color: var(--inverted-text-color);
}

.Search_Result_Info > p {
    font-size: 0.9rem;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    background-color: var(--white-bg-50);
    backdrop-filter: blur(3px);
}

.Nav_Logo {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: "Santiago", sans-serif;
    transition: all 1s ease-in-out;
    transform-origin: left;
}

.Nav_Logo:focus-visible,
.Nav_Logo:hover {
    transform: scale(1.05);
}

.Nav_Logo:focus-visible > .Nav_Logo_Img,
.Nav_Logo:hover > .Nav_Logo_Img {
    transform: rotateY(360deg) scale(1.05);
}

.Nav_Logo_Img {
    transition: all 1s ease-in-out;
    margin-right: var(--medium-gap);
}

.Nav_Logo_Title {
    font-size: var(--xlarge-font-size);
    font-weight: 800;
}

.Nav_Logo_Subtitle {
    font-size: var(--medium-font-size);
    font-weight: 800;
}

.Main_Nav_Links {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: var(--medium-gap);
}

.Nav_Link {
    position: relative;
    font-family: "Santiago";
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Nav_Tool::before,
.Nav_Link::before {
    position: absolute;
    content: "";
    bottom: -0.5rem;

    width: 100%;
    height: 0.25rem;

    transform-origin: left;
    transform: scaleX(0);

    background-color: var(--primary-color-50);
    transition: all 0.3s ease-in-out;
}

.Nav_Tool:focus-visible::before,
.Nav_Tool:hover::before,
.Nav_Link:focus-visible::before,
.Nav_Link:hover::before {
    transform: scaleX(1);
}

.Nav_Link:focus-visible,
.Nav_Link:hover {
    font-size: 1.2rem;
}

.Nav_Link.active {
    font-size: 2rem;
}

.Nav_Link.active:focus-visible,
.Nav_Link.active:hover {
    font-size: 2.2rem;
}

.Nav_Tool:focus-visible > *,
.Nav_Tool:hover > * {
    font-size: 2rem;
}

.Main_Nav_Tools {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: var(--medium-gap);
}

.Mobile_Nav_Tools {
    display: none;
}

.Nav_Tool {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.Nav_Tool > * {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.Menu_Btn_Container {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Main_Title {
    font-size: clamp(2.4rem, 3.4vw, 3.2rem);
    font-family: "Santiago", sans-serif;
}

.Cookies_Container,
.Main_Privacidade_e_Termos {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
}

.Cookies_Container {
    max-width: 420px;
    align-items: center;
    padding: var(--large-gap);
    background-color: var(--white-bg-90);
    border-radius: var(--medium-radius);
}

.Cookies_Container > p {
    color: var(--text-color);
    text-align: center;
}

.CookieIcon {
    font-size: 8rem;
    color: var(--text-color);
    animation: pulse 6s ease-in-out infinite alternate;
}

.Cookies_Btn {
    gap: var(--small-gap);
}

.privacidade {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: var(--medium-gap);
}

.Main_Home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--large-gap);
}

.Home_Bg_Image_Wrapper {
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.Home_Bg_Image.loaded {
    opacity: 0.5;
}

.Home_Bg_Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    border-radius: var(--medium-radius);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.Home_Content_Wrapper {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    gap: var(--medium-gap);
    background-color: var(--white-bg-80);
    padding: var(--medium-gap);
    border-radius: var(--medium-gap);

    transition: none;

    will-change: opacity;
    transition: opacity 0.3s ease-in-out;

    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.Home_Welcome {
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: clamp(2rem, 3.4vw, 3.2rem);
    letter-spacing: 0.05rem;
    padding-inline: var(--medium-gap);
    text-align: center;
    color: var(--text-color);
}

.Home_Text {
    margin-top: -1rem;
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    letter-spacing: 0.05rem;
    padding-inline: var(--medium-gap);
    text-align: center;
}

.Home_Choice_Container {
    display: flex;
    flex-direction: row;
    gap: var(--medium-gap);
}

.Home_Choice {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    border-radius: var(--medium-radius);
    border: var(--black-border);
    background-color: var(--white-bg-50);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    max-width: 24rem;
}

.Home_Choice_Title {
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.Home_Btn {
    gap: var(--small-gap);
    transition: all 0.3s ease-in-out;
    background-color: var(--white-bg-50);
}

.Home_Sobre_Btn:focus-within,
.Home_Sobre_Btn:hover,
.Home_Btn:focus-within,
.Home_Btn:hover {
    transform: scale(1.025);
    background-color: var(--primary-color-90);
    color: var(--inverted-text-color);
}

.Home_Sobre_Btn {
    padding: var(--medium-gap);
    gap: var(--small-gap);
    transition: all 0.3s ease-in-out;
    background-color: var(--white-bg-50);
}

.Main_Contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    width: 100%;
    height: 100%;
}

.Contato_Text_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    gap: var(--medium-gap);
    width: 100%;
    max-width: 420px;
    height: 100%;
    padding: 1rem;
    text-align: start;
}

.Contato_Map {
    width: 100%;
    max-width: 840px;
    height: 100%;
    border-radius: var(--medium-radius);
    border: 1px solid var(--border-color);
}

.Main_Sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.Sobre_Text_Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    gap: var(--medium-gap);
    width: 100%;
    height: 100%;
    padding: 1rem;
    max-width: 640px;
    text-align: start;
}

.Sobre_Image {
    width: 100%;
    max-width: 420px;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: var(--medium-radius);
}

.Main_Blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--medium-gap);
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.Blog_Construction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
}

.Main_Blog > h2 {
    font-weight: 100;
}

.Emoji {
    font-size: 3rem;
}

.Inverted_Emoji {
    transform: scale(-1, 1);
    width: fit-content;
}

.Main_Usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: var(--medium-gap);
}

.User_Tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.User_Tab_Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: var(--medium-radius);
    overflow: hidden;
}

.Main_Loja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: var(--medium-gap);
    scroll-behavior: unset;
    cursor: grab;

    overflow-y: auto;
}

.Main_Loja:active {
    cursor: grabbing;
}

.Product_Card {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--medium-gap);
    padding: 1rem;
    border: var(--black-border);
    border-radius: var(--medium-radius);
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

.Product_Card_Title {
    font-size: clamp(2.4rem, 6vw, 5rem);
    font-family: "Santiago", sans-serif;
    color: var(--inverted-text-color);
}

.Product_Card_Content {
    display: flex;
    flex: 1;
    color: var(--inverted-text-color);
}

.Product_Card_Intro {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
    max-width: 800px;
}

.Product_Card_Price {
    color: var(--inverted-text-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: var(--white-border);
    border-radius: var(--medium-radius);
    backdrop-filter: blur(5px);
    font-size: 0.8rem;
    background-color: var(--black-bg-30);
}

.priceTag {
    font-size: 1.2rem;
    margin-left: 0.25rem;
}

.Product_Card_Visibility_Btn {
    z-index: 8;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--inverted-text-color);
}

.Full_Screen_Btn {
    z-index: 8;
    position: absolute;
    right: 1rem;
    bottom: 4rem;
    color: var(--inverted-text-color);
}

.Product_Card_Image_Container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--medium-radius);
    z-index: -1;
}

.Image_Container_Gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, var(--black-bg-90), transparent);
    z-index: 1;
}

.Product_Card_Image_Container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CLTF_Image_Loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.CLTF_Image {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.Loading_Icon {
    font-size: 3rem;
    animation: pulse 6s ease-in-out infinite alternate;
}

.Product_Card_Footer {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Product_Detail {
    justify-content: flex-start;
    overflow-y: auto;
}

.Product_Detail_Information > .Title,
.Product_Detail_Information > .Content {
    color: var(--text-color);
}

.Product_Detail_Image_Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    flex: 2;
    gap: var(--medium-gap);
    overflow-x: auto;
}

.Product_Detail_Information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: var(--small-gap);
}

.Image_ScrollGrab > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--medium-radius);
}

.Image_ScrollGrab {
    display: flex;
    width: 100%;
    height: 100%;
    gap: var(--medium-gap);
    overflow-x: auto;
    padding-bottom: 0.5rem;
    cursor: grab;
    padding: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.Inline_Link {
    color: inherit;
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(-10deg);
    }

    100% {
        transform: scale(1.2) rotate(10deg);
    }
}

.Image_Home {
    margin: var(--medium-gap);
    transition: all 0.3s ease-in-out;
    animation: pulse 6s ease-in-out infinite alternate;
    width: 800px;
    height: 800px;
    margin: -100px;
    margin-right: -300px;
    opacity: 0;
}

.Image_Home.loaded {
    opacity: 1;
}

.Footer {
    display: flex;
    width: 100%;
    align-items: center;
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    background-color: var(--white-bg-50);
    backdrop-filter: blur(5px);
}

.Footer_PrivacyAndTerms {
    display: flex;
    flex: 1;
    align-items: center;
    gap: var(--medium-gap);
    margin-right: auto;
}

.Footer_Social_Media {
    display: flex;
    justify-content: flex-end;
    gap: var(--medium-gap);
    flex: 1;
}

.Social_Media_Container {
    display: flex;
    align-items: center;
    height: 2rem;
    list-style: none;
    text-decoration: none;
}

.Social_Media_Link {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    transition: all 0.3s ease-in-out;
}

.Icon_Label {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0;
    max-width: max-content;
    white-space: nowrap;
    border: var(--black-border);
    border-radius: var(--medium-radius);
    transform: scaleX(0);
    transform-origin: left center;
    font-size: 1rem !important;

    transition: all 0.3s ease-in-out;
}

.Origin_Right {
    transform-origin: right center;
}

.Icon.active > .Icon_Label,
.Icon:focus > .Icon_Label,
.Icon:hover > .Icon_Label {
    transform: scaleX(1);
    width: 12rem;
    padding: 0.25rem 0.5rem;
}

.Icon.active > .Icon_Label {
    background-color: aquamarine;
}

.FA_Icons {
    height: 20px !important;
}

.Not_Found_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
}

#Shopping_Cart_Indicator {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: aquamarine;
    color: var(--text-color);
}

.Mobile_Only {
    display: none;
}

@media screen and (max-width: 1000px) {
    .Desktop_Only {
        display: none;
    }

    .Mobile_Only {
        display: flex;
    }

    .Navbar {
        flex-direction: row;
        justify-content: center;
        padding: var(--small-gap);
        padding-inline: var(--medium-gap);
    }

    .Nav_Logo_Img {
        height: 50px;
        width: 40px;
    }

    .Desktop_Nav_Tools {
        display: none;
    }

    .Mobile_Nav_Tools {
        display: flex;
    }

    .Main_Nav_Tools {
        justify-content: space-evenly;
    }

    .Nav_Logo_Title {
        font-size: 1.5rem;
    }

    .Main_Nav_Links {
        display: none;
    }

    .Image_ScrollGrab {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: var(--medium-gap);
        overflow-y: auto;
        padding-bottom: 0.5rem;
    }

    .Image_ScrollGrab.mobile-row {
        flex-direction: row;
    }

    .Main_Home {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        padding: var(--medium-gap);
    }

    .Home_Content_Wrapper {
        align-items: center;
        margin-bottom: var(--small-gap);
        width: 100%;
        max-width: 32rem;
    }

    .Image_Home {
        width: 30rem;
        height: 30rem;
        margin: 0;
        margin-top: -5rem;
        margin-bottom: -10rem;
    }

    .Home_Welcome {
        text-align: center;
        line-height: 2rem;
        padding-block: 0;
        padding-inline: 0;
    }

    .Home_Text {
        text-align: center;
        line-height: 1.4rem;
    }

    .Home_Choice_Container {
        flex-direction: column;
        align-items: center;
    }

    .Home_Choice {
        max-width: 30rem;
    }

    .Home_Sobre_Btn {
        width: 100%;
        max-width: 24rem;
    }

    .Main_Contato,
    .Main_Sobre {
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: auto;
    }

    .Contato_Text_Content {
        max-width: 840px;
        justify-content: flex-start;
    }

    .Sobre_Main_Title {
        text-align: center;
    }

    .Sobre_Image {
        width: 100%;
        max-width: 800px;
        height: 100%;
        max-height: 800px;
        object-fit: cover;
        object-position: top;
        border-radius: var(--medium-radius);
    }

    .Sobre_Text_Content {
        overflow: initial;
    }

    .Footer {
        gap: 0;
        height: 4rem;
    }

    .Footer_PrivacyAndTerms {
        display: none;
    }

    .Footer_Brand {
        display: none;
    }

    .Footer_Social_Media {
        display: none;
    }

    .Icon_Label {
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 1001px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
        border-radius: var(--medium-radius);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: var(--medium-radius);
    }

    .Main_Loja {
        flex-direction: row;
        height: 100%;
    }

    .Product_Card {
        aspect-ratio: 3/5;
    }

    .Product_Card.active {
        min-width: 840px;
    }

    .Product_Detail {
        flex-direction: row;
        gap: var(--large-gap);
    }

    .Product_Detail_Image_Container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        min-height: 40vh;
        gap: var(--medium-gap);
        overflow-x: auto;
        border-radius: 0;
    }

    .Product_Detail_Information {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1rem;
    }

    .Product_Card_Price {
        margin-top: auto;
    }
}

@media screen and (min-width: 2560px) {
    :root {
        font-size: clamp(1.5rem, 1vw, 3rem);
    }

    .Home_Content_Wrapper {
        max-width: 50rem;
    }

    .Google_Material_Icons {
        font-size: 1.5rem;
    }

    .FA_Icons {
        height: 40px !important;
    }

    .Nav_Logo_Img {
        height: clamp(100px, 150px, 200px);
        width: clamp(80px, 120px, 160px);
    }
}
