/*

Experiemntal Branch CSS

*/

@font-face {
    font-family: "Santiago";
    src: url("/fonts/Santiago.otf");
}

:root {
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Dynamic_Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    backdrop-filter: blur(5px);
    object-fit: cover;
    opacity: 70%;
    z-index: -1;
}

#__next {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100vw;
    min-height: 100vh;
    min-height: 100dvh;
}

.Pill {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    font-size: 0.8rem;
}

.Dark_Pill {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    font-size: 0.8rem;
}

.clickable {
    cursor: pointer;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.Btn.Round {
    border-radius: 50%;
    padding: 0.25rem;
}

.Btn:focus-visible,
.Btn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

.Content_Viewer {
    position: relative;
}

.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: #0000001f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    z-index: 1000;
}

.Menu_Title {
    font-size: 3rem;
    color: #fff;
    font-family: "Santiago", sans-serif;
}

.Menu_List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: auto;
}

.Menu_Link {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    font-family: "Santiago", sans-serif;
}

.Carrinho {
    z-index: 9;
}

.Carrinho_Layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 600px;
    border-radius: 1rem;
    background-color: #ffffffd3;
    padding-block: 1rem;
}

.Carrinho_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-inline: 1rem;
}

.Carrinho_Title {
    font-family: "Santiago", sans-serif;
    font-size: 2rem;
}

.Carrinho_Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    flex: 1;
}

.Carrinho_List {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
}

.Carrinho_Item {
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: #ffffff70;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.Carrinho_Item_Title {
    font-size: 1.5rem;
    font-family: "Santiago", sans-serif;
}

.Carrinho_Item_Image_Container {
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 240px;
    display: flex;
}

.Carrinho_Item_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.Carrinho_Item_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.Carrinho_Item_Quantity_Container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Carrinho_Item_Quantity_Value {
    font-size: 2rem;
}

.Carrinho_Item_Quantity_Input_Controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddOrSubtract_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.Carrinho_Item_Btn > * {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.Carrinho_Total_Price_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.Checkout_Waring {
    margin-inline: 1rem;
    text-align: center;
}

#Pesquisa {
    justify-content: start;
}

.Search_Input_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Search_Input_Container > input {
    padding: 0.5rem;
    border-radius: 1rem;
    padding-inline: 1rem;
    border: 1px solid #fff;
}

.Search_Input_Container > button {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Search_Input_Container > button:focus-visible,
.Search_Input_Container > button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
}

.Search_No_Results,
.Search_Results_List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

.Search_No_Results {
    justify-content: center;
    color: #fff;
}

.Search_Result {
    display: flex;
    gap: 1rem;
}

.Search_Result_Image {
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.Search_Result_Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
    width: 100%;
    max-width: 400px;
    color: #fff;
}

.Search_Result_Info > p {
    font-size: 0.9rem;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    background-color: #ffffffad;
    backdrop-filter: blur(3px);
}

.Nav_Logo {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: "Santiago", sans-serif;
    transition: all 0.3s ease-in-out;
}

.Nav_Logo:focus-visible,
.Nav_Logo:hover {
    transform: scale(1.05);
}

.Nav_Logo:focus-visible > .Nav_Logo_Img,
.Nav_Logo:hover > .Nav_Logo_Img {
    transform: rotateY(360deg) scale(1.05);
}

.Nav_Logo_Img {
    margin-left: -1rem;
    transition: all 0.5s ease-in-out;
}

.Nav_Logo_Title {
    font-size: 2rem;
    font-weight: 800;
}

.Nav_Logo_Subtitle {
    font-size: 1rem;
    font-weight: 800;
}

.Main_Nav_Links {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.Nav_Link {
    position: relative;
    font-family: "Santiago";
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Nav_Tool::before,
.Nav_Link::before {
    position: absolute;
    content: "";
    bottom: -0.5rem;

    width: 100%;
    height: 0.25rem;

    transform-origin: left;
    transform: scaleX(0);

    background-color: #00000080;
    transition: all 0.3s ease-in-out;
}

.Nav_Tool:focus-visible::before,
.Nav_Tool:hover::before,
.Nav_Link:focus-visible::before,
.Nav_Link:hover::before {
    transform: scaleX(1);
}

.Nav_Link:focus-visible,
.Nav_Link:hover {
    font-size: 1.2rem;
}

.Nav_Link.active {
    font-size: 2rem;
}

.Nav_Link.active:focus-visible,
.Nav_Link.active:hover {
    font-size: 2.2rem;
}

.Nav_Tool:focus-visible > *,
.Nav_Tool:hover > * {
    font-size: 2rem;
}

.Main_Nav_Tools {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
}

.Mobile_Nav_Tools {
    display: none;
}

.Nav_Tool {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.Nav_Tool > * {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.Menu_Btn_Container {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Main_Title {
    font-family: "Santiago", sans-serif;
}

.Cookies_Container,
.Main_Privacidade_e_Termos {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: 1rem;
}

.Cookies_Container {
    max-width: 420px;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

.Cookies_Container > p {
    color: #000;
    text-align: center;
}

.CookieIcon {
    font-size: 8rem;
    color: #000;
    animation: pulse 6s ease-in-out infinite alternate;
}

.Cookies_Btn {
    gap: 0.5rem;
}

.privacidade {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: 1rem;
}

.Main_Home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.Home_Bg_Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    border-radius: 1rem;
}

.Home_Content_Wrapper {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    gap: 1rem;
}

.Home_Welcome {
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: clamp(2rem, 3.4vw, 3.2rem);
    letter-spacing: 0.05rem;
    padding-inline: 1rem;
    text-align: center;
    color: #fff;
}

.Home_Text {
    margin-top: -1rem;
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    letter-spacing: 0.05rem;
    padding-inline: 1rem;
    text-align: center;
}

.Home_Choice_Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Home_Choice {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;
    background-color: #ffffffe0;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-width: 24rem;
}

.Home_Choice_Title {
    font-family: "Santiago", sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.Home_Btn {
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
    background-color: #ffffffe0;
}

.Home_Sobre_Btn:focus-within,
.Home_Sobre_Btn:hover,
.Home_Btn:focus-within,
.Home_Btn:hover {
    transform: scale(1.05);
}

.Home_Sobre_Btn {
    padding: 1rem;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
    background-color: #ffffffe0;
}

.Main_Contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.Contato_Text_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    gap: 1rem;
    width: 100%;
    max-width: 420px;
    height: 100%;
    padding: 1rem;
    text-align: start;
}

.Contato_Map {
    width: 100%;
    max-width: 840px;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #000;
}

.Main_Sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.Sobre_Text_Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    max-width: 840px;
    text-align: start;
}

.Sobre_Image {
    width: 100%;
    max-width: 420px;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
}

.Main_Blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.Blog_Construction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Main_Blog > h2 {
    font-weight: 100;
}

.Emoji {
    font-size: 3rem;
}

.Inverted_Emoji {
    transform: scale(-1, 1);
    width: fit-content;
}

.Main_Usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

.User_Tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}

.User_Tab_Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.Main_Loja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    scroll-behavior: unset;
    cursor: grab;

    overflow-y: auto;
}

.Main_Loja:active {
    cursor: grabbing;
}

.Product_Card {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

.Product_Card_Title {
    font-size: clamp(2.4rem, 6vw, 5rem);
    font-family: "Santiago", sans-serif;
    color: #fff;
}

.Product_Card_Content {
    display: flex;
    flex: 1;
    color: #fff;
}

.Product_Card_Intro {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
    max-width: 800px;
}

.Product_Card_Price {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.priceTag {
    font-size: 1.2rem;
    margin-left: 0.25rem;
}

.Product_Card_Visibility_Btn {
    z-index: 8;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
}

.Full_Screen_Btn {
    z-index: 8;
    position: absolute;
    right: 1rem;
    bottom: 4rem;
    color: #fff;
}

.Product_Card_Image_Container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    z-index: -1;
}

.Image_Container_Gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    z-index: 1;
}

.Product_Card_Image_Container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CLTF_Image_Loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.CLTF_Image {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.Loading_Icon {
    font-size: 3rem;
    animation: pulse 6s ease-in-out infinite alternate;
}

.Product_Card_Footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Product_Detail {
    justify-content: flex-start;
    overflow-y: auto;
}

.Product_Detail_Information > .Title,
.Product_Detail_Information > .Content {
    color: #000;
}

.Product_Detail_Image_Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    flex: 2;
    gap: 1rem;
    overflow-x: auto;
}

.Product_Detail_Information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 0.5rem;
}

.Image_ScrollGrab > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.Image_ScrollGrab {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
    cursor: grab;
    padding: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.Inline_Link {
    color: inherit;
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(-10deg);
    }

    100% {
        transform: scale(1.2) rotate(10deg);
    }
}

.Image_Home {
    transition: all 0.3s ease-in-out;
    animation: pulse 6s ease-in-out infinite alternate;
}

.Footer {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #ffffffad;
    backdrop-filter: blur(3px);
}

.Footer_PrivacyAndTerms {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
    margin-right: auto;
}

.Footer_Social_Media {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex: 1;
}

.Social_Media_Container {
    display: flex;
    align-items: center;
    height: 2rem;
    list-style: none;
    text-decoration: none;
}

.Social_Media_Link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.Icon_Label {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 0;
    max-width: max-content;
    white-space: nowrap;
    border: 1px solid #000;
    border-radius: 1rem;
    transform: scaleX(0);
    transform-origin: left center;
    font-size: 1rem !important;

    transition: all 0.3s ease-in-out;
}

.Origin_Right {
    transform-origin: right center;
}

.Icon.active > .Icon_Label,
.Icon:focus > .Icon_Label,
.Icon:hover > .Icon_Label {
    transform: scaleX(1);
    width: 12rem;
    padding: 0.25rem 0.5rem;
}

.Icon.active > .Icon_Label {
    background-color: aquamarine;
}

.FA_Icons {
    height: 20px !important;
}

.Not_Found_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#Shopping_Cart_Indicator {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: aquamarine;
    color: #000;
}

@media screen and (max-width: 1000px) {
    .Desktop_Only {
        display: none;
    }

    .Navbar {
        flex-direction: column;
    }

    .Desktop_Nav_Tools {
        display: none;
    }

    .Mobile_Nav_Tools {
        display: flex;
    }

    .Main_Nav_Tools {
        justify-content: space-evenly;
    }

    .Nav_Logo_Title {
        font-size: 1.5rem;
    }

    .Main_Nav_Links {
        display: none;
    }

    .Image_ScrollGrab {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 1rem;
        overflow-y: auto;
        padding-bottom: 0.5rem;
    }

    .Image_ScrollGrab.mobile-row {
        flex-direction: row;
    }

    .Main_Home {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
    }

    .Home_Content_Wrapper {
        align-items: center;
    }

    .Image_Home {
        width: 20rem;
    }

    .Home_Welcome {
        text-align: center;
        padding-block: 0;
        padding-inline: 0;
    }

    .Home_Text {
        text-align: center;
    }

    .Home_Choice_Container {
        flex-direction: column;
        align-items: center;
    }

    .Home_Sobre_Btn {
        width: 100%;
        max-width: 24rem;
    }

    .Main_Contato,
    .Main_Sobre {
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: auto;
    }

    .Contato_Text_Content {
        max-width: 840px;
        justify-content: flex-start;
    }

    .Sobre_Text_Content {
        overflow: initial;
    }

    .Footer {
        gap: 0;
        height: 4rem;
    }

    .Footer_PrivacyAndTerms {
        display: none;
    }

    .Footer_Brand {
        display: none;
    }

    .Footer_Social_Media {
        display: none;
    }

    .Icon_Label {
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 1001px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #00000033;
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #00000033;
        border-radius: 1rem;
    }

    .Main_Loja {
        flex-direction: row;
        height: 100%;
    }

    .Product_Card {
        min-width: 420px;
    }

    .Product_Card.active {
        min-width: 840px;
    }

    .Product_Detail {
        flex-direction: row;
        gap: 2rem;
    }

    .Product_Detail_Image_Container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        min-height: 40vh;
        gap: 1rem;
        overflow-x: auto;
        border-radius: 0;
    }

    .Product_Detail_Information {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1rem;
    }

    .Product_Card_Price {
        margin-top: auto;
    }
}

@media screen and (min-width: 2560px) {
    :root {
        font-size: 1.5rem;
    }

    .Google_Material_Icons {
        font-size: 1.5rem;
    }

    .FA_Icons {
        height: 40px !important;
    }

    .Nav_Logo_Img {
        height: 200px;
        width: 200px;
    }

    .Product_Card {
        min-width: 840px;
    }

    .Product_Card:hover {
        min-width: 1680px;
    }
}
